name: Build and Run Rust
on:
  push:
    tags:
      - v1.**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: |
          git config --global user.email "Github@Actions.com"
          git config --global user.name "Git Act"
          cd data-test
          cargo build --release
          cargo run --release > output.txt
          git add output.txt
          git commit -m "Add output.txt"
          git push
